:root {
  --grey: #18222e;
  --ligth-grey: #899fbb;
  --red: #f95959;
  --white: hsl(0, 0%, 12%);
}

.body {
  background-color: var(--ligth-grey);
  color: var(--white);
  overflow-x: hidden;
}
.title {
  margin: 5%;
}
.navbar {
  margin-bottom: 2%;
}
.card-img-top{
  border-radius: 10px;
}
.card {
  border: 1px solid var(--grey);
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  color: var(--white);
  background-color: transparent;
  width: 77%;
}
.otter-index {
  margin: auto;
}
@media only screen and (max-width: 1000px) {
  .otter-library {
    margin: auto;
  }
}
.btn,
button, .nav-link {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--grey);
  border-color: var(--grey);
  border-radius: 5px;
}
.btn:hover,
button:hover, .nav-link:hover {
  color: var(--white);
  background-color: transparent;
  border-color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 5px;
}
.link {
  color: var(--white);
  text-decoration: none;
}
.link:hover {
  color: var(--white);
  text-decoration: none;
}
.pagination-container {
  text-align: center;
}
.d-flex {
  display: flex !important;
  margin-right: 10%;
}
.tab-content{
  margin-left: 5%;
}
.nav-tabs{
  border-bottom:none;
}