:root {
  --grey: #233142;
  --ligth-grey: #455d7a;
  --red: #f95959;
  --white: hsl(0, 0%, 12%);
}

.body {
  background-color: var(--ligth-grey);
  color: var(--white);
  overflow-x: hidden;
}
.title {
    margin: 5%;
}
.navbar{
    margin-bottom: 2%;
}
.card {
  border: 1px solid var(--grey);
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  color: var(--white);
  background-color:transparent;
}
.btn, button{
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--grey);
    border-radius: 5px;
}
.btn:hover, button:hover{
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--grey);
    border-radius: 5px;
}
.link{  
  color: var(--white);
  text-decoration: none;
}.link:hover{  
  color: var(--white);
  text-decoration: none;
}